<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login test cases cross browser testing">


    
    <test name="ChromeTest">

<parameter name="browser" value="Chrome" />

<classes>

<class name="testcases.loginTestCase">

</class>

</classes>

</test>

<test name="FirefoxTest">

<parameter name="browser" value="Firefox" />

<classes>

<class name="testcases.loginTestCase">

</class>

</classes>
</test>
</suite>
